.camera-container {
	display: flex;
	flex-direction: row;
	gap: 24px;
	/* padding: 24px; */
	background-color: #f9f9f9;
	/* height: 100vh; */
	/* box-sizing: border-box; */
	font-family: "Segoe UI", sans-serif;
}

.left-panel,
.right-panel {
	background-color: #fff;
	border-radius: 12px;
	/* padding: 20px; */
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	flex: 1;
	overflow-y: auto;
}

.heading {
	font-size: 24px;
	font-weight: 600;
	color: #333;
	margin-bottom: 16px;
	text-align: center;
}

.video {
	width: 100%;
	height: auto;
	border-radius: 8px;
	border: 2px solid #ccc;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.buttonGroup {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	gap: 12px;
}

.imageList {
	margin-top: 24px;
}

.imageList h3 {
	font-size: 18px;
	margin-bottom: 12px;
	color: #444;
}

.imageGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.imageItem {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.right-panel h3 {
	font-size: 20px;
	margin-bottom: 16px;
	color: #333;
	text-align: center;
}

.student-item {
	padding: 12px;
	margin-bottom: 12px;
	background-color: #e6f7ff;
	border-left: 5px solid #1890ff;
	border-radius: 8px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.student-item strong {
	display: block;
	color: #111;
	margin-bottom: 4px;
}

.student-item small {
	color: #666;
}
